<!--
  Used for visualising the turtlebot while building a map or navigating with the ros navistack.
 -->
<launch>
  <node name="rviz" pkg="rviz" type="rviz"/>
  <!--
  <node name="a_star_server" pkg="tsane_mmlamare_mwpiazza_lab4" type="aStarServer.py"/>
  <node name="a_star_client" pkg="tsane_mmlamare_mwpiazza_lab4" type="aStarClient.py"/>
  -->
</launch>
